h1{
    text-align: center;
    color:white;
    font-family: fantasy;
    -webkit-text-stroke: 1px rgb(98, 155, 13);
}
.nav-bar{
    color: rgb(98, 155, 13);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
    text-align: center;
    
}

h2{
    text-align: center;
    color: hotpink;
}

a:link{
    color: hotpink;
}
a:visited{
    color: lawngreen;
}
a:hover{
    color: lightpink;
}
a:active{
    color:magenta
}

